<div class="four wide column">
    <a href="/" target="_blank" style="display: inline-block; text-align: center;">
        {% if use_webpack %}
            <img src="{{ asset('build/app/shop/images/logo.png', 'app.shop') }}" alt="DeTitiaKikine" class="ui small image"/>
        {% else %}
            <img src="{{ asset('build/app/shop/images/logo.png', 'app.shop') }}" alt="DeTitiaKikine" class="ui small image"/>
        {% endif %}
    </a>
</div>
