<div class="homepage-banner">
	<div class="homepage-banner__image">
		{% if use_webpack %}
			<img src="{{ asset('build/app/shop/images/home-banner.webp', 'app.shop') }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
		{% else %}
			<img src="{{ asset('build/app/shop/images/home-banner.webp', 'app.shop') }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
		{% endif %}
	</div>
	<div
		class="text-center text-text relative z-10">
		<!-- Texte sur grand écran -->
		<h1 class="text-4xl mb-4 md:text-6xl" style="font-family: 'Bellefair', serif;">De l'écran à votre garde-robe, une élégance sur-mesure</h1>
		<p class="text-m md:text-2xl">Découvrez notre service de confection sur-mesure, où que vous soyez.</p>
	</div>
</div>
